<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="stasjon_info_endepunkt" value="https://gbfs.urbansharing.com/oslobysykkel.no/station_information.json" />
    <add key="stasjon_status_endepunkt" value="https://gbfs.urbansharing.com/oslobysykkel.no/station_status.json" /> 
    <add key="hoved_arbeidkatalog" value="C:\" />
  </appSettings>
</configuration>